body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contact-link {
  color: blue;
}

.active {
  color: red;
  background: black;
}

h2 {
  text-align: center;
  padding: 20px;
  color: white;
}

.About h2 {
  background: #37377b;
}

.Contact h2 {
  background: #7b3772;
}

.NotFound h2 {
  background: #ff0089
}

.Navigation ul {
  height: 50px;
  background: black;
  margin: 0;
  display: flex;
  text-align: center;
}

.Navigation li {
  flex: 1;
  list-style-type: none;
  margin-left: -40px;
}

.Navigation a {
    display: block;
    background-color: #f4f4f4;
    height: 100%;
    line-height: 3.2em;
    color: #000;
    text-decoration: none;
}
